.skills-container {
    width: 708px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
}
.skills-title{
    text-align: left;
    font-size: 28px;
    font-weight: 100;  
  }
.horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;    
}

li {
    list-style-type: none;
    margin: 0 5px;
    padding: 0 2px;
    font-size: 20px;
    color: #a4a4a4;
}