header {
  height: 70px;
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #82898F;
  font-size: 1rem;
}

.header-options,
.header {
  width: 50%;
  height: 100%;
  display: flex;
}

.header {
  align-items: center;
  justify-content: left;
  padding-left: 50px;
}
.header-title {
  font-size: 1.2rem;
  font-weight: 400;
}
.header-options {
  align-items: center;
  justify-content: flex-end;
}

.option {
  padding: 10px 20px;
  cursor: pointer;
  border-left: solid 2px #82898F;
}

.option:hover {
  transform: scale(1.1);
}

.option:hover a {
  border-bottom: 1px solid #ffffff;
}
