header {
  height: 70px;
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom:solid 2px red; 
}

.header-options, .header-title {
    width: 50%;
    height: 100%;
    display: flex;    
}

.header-title {
    align-items: center;
    justify-content: center;
}

.header-options {
    align-items: center;
    justify-content: flex-end;   
}

.option {
    padding: 10px 20px;
    cursor: pointer;
    border-left: solid 2px red; 
}

h1{
   font-size: 1.5em; 
}