.social-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.social {
 color:red;
 font-size: 2rem;
}

.social-text {
  font-size: 3rem;
  
}
