.social-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social-text {
  font-size: 3rem;
}

.social-icon  {
  font-size: 2rem;
  padding: 20px;
}
