.img-banner {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.h1-banner {
  font-size: 60px;
  color: #fff;
  border: 10px double #fff;
  padding: 70px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
